
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  
    .planning {
        border: none!important;
        word-wrap:break-word
        table-layout: fixed ;
        width: 100% ;
    }
    
</style>
<div class="ritz grid-container" dir="ltr">
    <table table class="planning" cellspacing="0" cellpadding="0"
       style="height:90%; width:100%" class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr style="height: 15%;">
                <td style="width: 30%; "> <a href="https://www.linkedin.com/in/meti-ibrahimi/"  target="_blank"> Meti Ibrahimi </a> </td>
                <td style="width: 30%; "> <a href="https://www.linkedin.com/in/kasem-zotkaj-363899158/"  target="_blank"> Semi Zotkaj</a></td>
                <td style="width: 30%; "> <a href="https://www.linkedin.com/in/suard-cengu/"  target="_blank"> Tad Cengu </a></td>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 15%"  >
                <td style="width: 30%; ">  Mikpritës në N'kub </td>
                <td style="width: 30%; ">  Mikpritës në N'kub</td>
                <td style="width: 30%; ">  Mikpritës në N'kub</td>
                </tr>
            <tr style="height: 15%; ">
                <td style="width: 30%; ">  Marseille, <br> France  </td>
                <td style="width: 30%; ">  Vaduz, <br> Liechtenstein </td>
                <td style="width: 30%; ">  Basel, <br> Zvicër </td>
                </tr >
            <tr style="height: 15%;  ">
                <td style="width: 30%; ">  PhD <br>  Biofizikë  </td>
                <td style="width: 30%; ">  PhD Taksa <br> Ndërkombëtare </td>
                <td style="width: 30%; ">  Arkitekt <br> </td>
                </tr >
            <tr style="height: 15%;  ">
                <td style="width: 30%; ">  pak mesdhetar   </td>
                <td style="width: 30%; ">  pak praktik  </td>
                <td style="width: 30%; ">  pak detajist </td>
                </tr >
                <!-- <tr style="height: 40%; ">
                 <td style="width: 30%; ">  <img  src="{{ site.baseurl}}/assets/img/metiweb.jpg" width="200"></td>
                <td style="width: 30%; ">  <img  src="{{ site.baseurl}}/assets/img/semiweb.jpg" width="200"></td>
                <td style="width: 30%; ">  <img  src="{{ site.baseurl}}/assets/img/suardweb.jpg" width="200"></td>
                </tr> -->
        </tbody>
    </table>
</div>

                
