--- 
--- 

// https://imagecolorpicker.com/color-code/9ce6cd
$orange: #d6b579;
$orange_dark20: #7c2e19e9 ;
$orange_dark10: #7c2e1986;
$header-bg-color: $orange !default;
$header-bg-color-secondary: $orange !default;
$section-headings-color: $orange_dark20 !default;

@import "{{ site.theme }}";
header {
  height: 360px; /* set the height of the header to 100 pixels */
}
a {
    color: $orange_dark20
}

#tabs {
    text-align: center;
    color: $orange_dark20;

    a {
        color: $orange;
    }

    @include large {
        font-size: 1.25rem;
      }
    
      @include medium {
        font-size: 1.15rem;
      }
    
      @include small {
        font-size: 1rem;
      }

      margin-bottom: 50px;
}
.project-name {
  color: #7c2e19a6;
  margin-top: -20px;
  margin-bottom: -10px;

  
}

.project-tagline {
    color: #7c2e19a6;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
  
    @include large {
      font-size: 2.25rem;
    }
  
    @include medium {
      font-size: 1.75rem;
    }
  
    @include small {
      font-size: 1.15rem;
    }
    margin-bottom: 20px;
    margin-top: 40px;
  }
.social {
    margin-top: 40px;
    margin-bottom: -35px;   
  }

  .logo {
    margin-top: -40px;
    margin-bottom: -25px;
    
  }